body{
    background-color: #040102
}
a{
      text-decoration: none;
}

nav{  
    font-family:Roboto;
}

.itembar{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-column-gap: 5%;
    margin-left: 15%;
    margin-right: 15%;

    color:white;
}


  





