/* Built in  */
body{
    background-color: #000000;
    color: white;
    font-family: roboto;
    
}


a{
      text-decoration: none;
}
a:link{
    color:white;
}
a:visited{
    color:white;
}
a:hover{
    color:#7600ED;
}
a:active{
    color:#7600ED
}



nav{  
    font-family:Roboto;
    margin-top: 10px;

}



/* Scroll Bar  */
body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}


/* Functions  */

.Albumleft{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 80% 20%;
    color: white;
    grid-row-gap: 20px
    
    
}

.image{
    width: 100%;
    padding: 30px;
    padding-bottom: 15px;
    
}

.details{
    padding-left: 30px;
}

.Albumright{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 80% 20%;
    color: white;
    grid-row-gap: 20px 
}

.nav{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 2.5px;
    grid-column-gap: 5%;
    font-size: 12px;
    padding-bottom: 20px
    
}





.titleimage{
    width: 100%
}

.titletext{
    padding-left: 25px;
    padding-left: 25px;
    padding-top: 10px;
    font-size: 32px;
}



